<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wyświetlenie Dawców</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid text-center">
    <div><h1>Lista Dawców</h1></div>
    <div>
        <table class="table table-bordered" >
            <thead class="thead-dark">
            <tr>
                <th>Opcja</th>
                <th>Nazwisko</th>
                <th>Imię</th>
                <th>PESEL</th>
            </tr>
            </thead>
            <tbody>
                <th:block th:each="dawca : ${ListaDawcow}">
                    <tr>
                        <td><div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown button
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/donacje/dla-dawcy/[[${dawca.id}]]">Pokaż listę donacji</a>
                                <a class="dropdown-item" th:href="@{'/donacje/nowy?idDawcy=' + ${dawca.id}}">Zakladanie donacji</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div></td>
                        <td>[[${dawca.lastname}]]</td>
                        <td>[[${dawca.name}]]</td>
                        <td>[[${dawca.PESEL}]]</td>

                    </tr>

                </th:block>
            </tbody>
        </table>
    </div>



</div>



</body>

</html>